<!-- Cart -->
<div class="wrap-header-cart js-panel-cart">
    <div class="s-full js-hide-cart"></div>

    <div class="header-cart flex-col-l p-l-65 p-r-25">
        <div class="header-cart-title flex-w flex-sb-m p-b-8">
            <span class="mtext-103 cl2">
                Your Cart
            </span>

            <div class="fs-35 lh-10 cl2 p-lr-5 pointer hov-cl1 trans-04 js-hide-cart">
                <i class="zmdi zmdi-close"></i>
            </div>
        </div>

        <%- if simple_current_order.present? %>
            <div class="header-cart">
                <ul class="cart-items">
                    <% simple_current_order.line_items.each do |line_item| %>
                    <% variant = line_item.variant -%>

                    <li class="single-cart-item">
                        <div class="cart-img">
                            <% if variant.images.length == 0 %>
                                <%= link_to small_image(variant.product), variant.product %>
                            <% else %>
                                <%= link_to image_tag(variant.images.first.attachment.url(:small)), variant.product %>
                            <% end %>
                        </div>
                        <div class="cart-content">
                        <h5 class="product-name"><%= link_to line_item.name, product_path(variant.product) %></h5>
                        <span class="product-quantity"><%= line_item.quantity %> x</span>
                        <span class="product-price"><%= line_item.single_money %></span>
                        </div>
                        <div class="cart-item-remove">
                            <!-- <a id="remove-item" title="Remove" href="#"><i class="fa fa-trash"></i></a> -->
                        </div>
                    </li>
                    <% end %>
                </ul>
                <div class="cart-total">
                    <h5>Subtotal :<span class="float-right"><%= simple_current_order.display_total %></span></h5>
                    <h5>Total : <span class="float-right"><%= simple_current_order.display_total %></span></h5>
                </div>
                <div class="cart-btn">
                    <%= link_to 'Cart', cart_path %>
                    <%= link_to 'Checkout', checkout_path %>
                </div>
            </div>
        <% end %>
        
        <%- if simple_current_order.present? %>
        <div class="header-cart-content flex-w js-pscroll">
            <ul class="header-cart-wrapitem w-full">
                

                <li class="header-cart-item flex-w flex-t m-b-12">
                    <div class="header-cart-item-img">
                        <%= image_tag("cozastore/item-cart-02.jpg") %>
                    </div>

                    <div class="header-cart-item-txt p-t-8">
                        <a href="#" class="header-cart-item-name m-b-18 hov-cl1 trans-04">
                            Converse All Star
                        </a>

                        <span class="header-cart-item-info">
                            1 x $39.00
                        </span>
                    </div>
            <div class="wrap-header-cart js-panel-cart">
                <div class="s-full js-hide-cart"></div>

                <div class="header-cart flex-col-l p-l-65 p-r-25">
                    <div class="header-cart-title flex-w flex-sb-m p-b-8">
                        <span class="mtext-103 cl2">
                            Your Cart
                        </span>

                        <div class="fs-35 lh-10 cl2 p-lr-5 pointer hov-cl1 trans-04 js-hide-cart">
                            <i class="zmdi zmdi-close"></i>
                        </div>
                    </div>
                    
                    <div class="header-cart-content flex-w js-pscroll">
                        <ul class="header-cart-wrapitem w-full">
                            <% simple_current_order.line_items.each do |line_item| %>
                                <% variant = line_item.variant -%>
                                <li class="header-cart-item flex-w flex-t m-b-12">
                                    <div class="header-cart-item-img">
                                        <% if variant.images.length == 0 %>
                                            <%= link_to small_image(variant.product), variant.product %>
                                        <% else %>
                                            <%= link_to image_tag(variant.images.first.attachment.url(:small)), variant.product %>
                                        <% end %>                    
                                    </div>

                                    <div class="header-cart-item-txt p-t-8">
                                            <%= link_to line_item.name, product_path(variant.product), class: "header-cart-item-name m-b-18 hov-cl1 trans-04" %>

                                        <span class="header-cart-item-info">
                                            <%= line_item.quantity %> x <%= line_item.single_money %>
                                        </span>
                                    </div>
                                </li>
                            <% end %>
                        </ul>
                        
                        <div class="w-full">
                            <div class="header-cart-total w-full p-tb-40">
                                Total: <%= simple_current_order.display_total %>
                            </div>

                            <div class="header-cart-buttons flex-w w-full">
                                <%= link_to 'Cart', cart_path, class: "flex-c-m stext-101 cl0 size-107 bg3 bor2 hov-btn3 p-lr-15 trans-04 m-r-8 m-b-10 w-100" %>
                                <%= link_to 'Checkout', checkout_path, class: "flex-c-m stext-101 cl0 size-107 bg3 bor2 hov-btn3 p-lr-15 trans-04 m-r-8 m-b-10 w-100" %>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
                </li>

                <li class="header-cart-item flex-w flex-t m-b-12">
                    <div class="header-cart-item-img">
                        <%= image_tag("cozastore/item-cart-03.jpg") %>
                    </div>

                    <div class="header-cart-item-txt p-t-8">
                        <a href="#" class="header-cart-item-name m-b-18 hov-cl1 trans-04">
                            Nixon Porter Leather
                        </a>

                        <span class="header-cart-item-info">
                            1 x $17.00
                        </span>
                    </div>
                </li>
            </ul>
            
            <div class="w-full">
                <div class="header-cart-total w-full p-tb-40">
                    Total: $75.00
                </div>

                <div class="header-cart-buttons flex-w w-full">
                    <a href="shoping-cart.html" class="flex-c-m stext-101 cl0 size-107 bg3 bor2 hov-btn3 p-lr-15 trans-04 m-r-8 m-b-10">
                        View Cart
                    </a>

                    <a href="shoping-cart.html" class="flex-c-m stext-101 cl0 size-107 bg3 bor2 hov-btn3 p-lr-15 trans-04 m-b-10">
                        Check Out
                    </a>
                </div>
            </div>
        </div>
        <% end %>
    </div>
</div>

<!-- Slider -->
<section class="section-slide">
    <div class="wrap-slick1">
        <div class="slick1">
            <div class="item-slick1" style="background-image: url(<%= image_url('cozastore/slide-01.jpg') %>);">
                <div class="container h-full">
                    <div class="flex-col-l-m h-full p-t-100 p-b-30 respon5">
                        <div class="layer-slick1 animated visible-false" data-appear="fadeInDown" data-delay="0">
                            <span class="ltext-101 cl2 respon2">
                                Women Collection 2018
                            </span>
                        </div>
                            
                        <div class="layer-slick1 animated visible-false" data-appear="fadeInUp" data-delay="800">
                            <h2 class="ltext-201 cl2 p-t-19 p-b-43 respon1">
                                NEW SEASON
                            </h2>
                        </div>
                            
                        <div class="layer-slick1 animated visible-false" data-appear="zoomIn" data-delay="1600">
                            <a href="product.html" class="flex-c-m stext-101 cl0 size-101 bg1 bor1 hov-btn1 p-lr-15 trans-04">
                                Shop Now
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="item-slick1" style="background-image: url(<%= image_url('cozastore/slide-02.jpg') %>);">
                <div class="container h-full">
                    <div class="flex-col-l-m h-full p-t-100 p-b-30 respon5">
                        <div class="layer-slick1 animated visible-false" data-appear="rollIn" data-delay="0">
                            <span class="ltext-101 cl2 respon2">
                                Men New-Season
                            </span>
                        </div>
                            
                        <div class="layer-slick1 animated visible-false" data-appear="lightSpeedIn" data-delay="800">
                            <h2 class="ltext-201 cl2 p-t-19 p-b-43 respon1">
                                Jackets & Coats
                            </h2>
                        </div>
                            
                        <div class="layer-slick1 animated visible-false" data-appear="slideInUp" data-delay="1600">
                            <a href="product.html" class="flex-c-m stext-101 cl0 size-101 bg1 bor1 hov-btn1 p-lr-15 trans-04">
                                Shop Now
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="item-slick1" style="background-image: url(<%= image_url('cozastore/slide-03.jpg') %>);">
                <div class="container h-full">
                    <div class="flex-col-l-m h-full p-t-100 p-b-30 respon5">
                        <div class="layer-slick1 animated visible-false" data-appear="rotateInDownLeft" data-delay="0">
                            <span class="ltext-101 cl2 respon2">
                                Men Collection 2018
                            </span>
                        </div>
                            
                        <div class="layer-slick1 animated visible-false" data-appear="rotateInUpRight" data-delay="800">
                            <h2 class="ltext-201 cl2 p-t-19 p-b-43 respon1">
                                New arrivals
                            </h2>
                        </div>
                            
                        <div class="layer-slick1 animated visible-false" data-appear="rotateIn" data-delay="1600">
                            <a href="product.html" class="flex-c-m stext-101 cl0 size-101 bg1 bor1 hov-btn1 p-lr-15 trans-04">
                                Shop Now
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>