
<% content_for :page_title do %>
  <%= Spree.t(:sales_totals) %>
 <% end %>
 
 <% content_for :page_actions do %>
    <div id="top-link">
      <div class="menu-link">
        <a href="/admin/reports">Tổng Quan</a>
        <% @reports.each do |key, value| %>
            <%= link_to value[:name], send("#{key}_admin_reports_url".to_sym)%>
        <% end %>
      </div>
      <li><%= link_to_with_icon 'arrow-left', Spree.t(:back_to_reports_list), spree.admin_reports_url, :class => 'button' %></li>
    </div>
 <% end %>
 
 
 <% content_for :table_filter_title do %>
  <%= Spree.t(:date_range) %>
 <% end %>
 
<div class="sales-ot-content">
  <form>
    <div id="date-range">
      <div class="form-range">
        <div class="list-date-range">
          <label>Giới hạn thời gian</label>
          <select  id="d_time_report_gteq"  name="d[time_report_gteq]">
          <option value="0">Tùy chỉnh</option>
            <% today = Date.today.strftime("%d/%m/%Y")%>
          <option value="<%= today %>" selected>Hôm nay</option>
            <% day_ago = 1.day.ago.to_date.strftime("%d/%m/%Y")%>
          <option value="<%=day_ago %>">Hôm qua</option>
            <% seven_day_ago = 1.week.ago.to_date.strftime("%d/%m/%Y")%>
          <option value=" <%=seven_day_ago %>">7 ngày qua</option>
          <% month_ago = 1.month.ago.to_date.strftime("%d/%m/%Y")%>
          <option value="<%=month_ago %>"> 1 tháng qua</option>
          <% three_month_ago = 3.month.ago.to_date.strftime("%d/%m/%Y")%>
          <option value="<%=three_month_ago %>">3 tháng qua</option>
          <% year_ago = 1.year.ago.to_date.strftime("%d/%m/%Y")%>
          <option value="<%=year_ago %>">Năm nay</option>
          </select>
        </div>
      </div>
      <div class="date-range-filter field align-center">
            <%= label_tag nil, Spree.t(:start), :class => 'inline' %>
            <input  type="text" class="datepicker datepicker-from">
            <span class="range-divider">
              <i class="fa fa-arrow-right"></i>
            </span>
            <input  type="text" class="datepicker datepicker-to">            
            <%= label_tag nil, Spree.t(:end), :class => 'inline' %>
          </div> 
      <div class="gr-filter">
        <label>Nhóm</label>
        <select id="groupFilter">
          <option selected value="hours">Giờ</option>
          <option value="day">Ngày</option>
          <option value="week">Tuần</option>
          <option value="month">Tháng</option>
          <option value="quater">Quý</option>
        </select>
      </div> 
    </div>
  </form> 
  <div class="wraper-chart">
  <div id="chart-sales-over-orders"></div>
    <div id="chart-sales-over"></div>
    
  </div>
  <div class="wraper-table">
     <h3>Số Liệu Chi Tiết</h3>
     <table id="sales-ot-details" data-toggle="table"> 
     </table>
  </div>
 </div>
 <div class="background-load">
  <div class="content-load">
    <div id="ani-load-table">
    </div>
    <div id="text-load">Đang tải dữ liệu vui lòng đợi ...</div>
  </div>
 </div>
 </div>
 <script src="https://unpkg.com/bootstrap-table@1.14.2/dist/bootstrap-table.min.js"></script>
 <script src="/assets/spree/backend/salestotal.js"></script>
 