
<% if @order.line_items.present? %>
<% @body_id = 'cart' %>
<div data-hook="cart_container" class="container page-cart">
  <h2 class="text-left"><%= Spree.t(:shopping_cart) %><span>(<%= simple_current_order.quantity %> sản phẩm )</span></h2>
<%end%>
  <% if @order.line_items.empty? %>

    <div data-hook="empty_cart">
      <p><%= Spree.t(:your_cart_is_empty) %></p>
      <p><%= link_to Spree.t(:continue_shopping), root_path, :class => 'button continue' %></p>
    </div>

  <% else %>

    <div data-hook="outside_cart_form">
      <%= form_for @order, :url => update_cart_path, :html => {:id => 'update-cart'} do |order_form| %>
        <div data-hook="inside_cart_form">

          <div data-hook="cart_items">
            <%= render :partial => 'form', :locals => { :order_form => order_form } %>
          </div>
        </div>
      <% end %>
    </div>

  <% end %>
</div>