<% if staff? %>
	<ul class="checkout-methods">
	  <li>
	    <%= label_tag Spree.t(:buy_at_shop)%>
	    <%= form.radio_button :source, :shop %>
	  </li>
	  <li>
	    <%= label_tag Spree.t(:buy_by_phone)%>
	    <%= form.radio_button :source, :phone %>
	  </li>
	    <li>
	    <%= label_tag Spree.t(:buy_on_facebook)%>
	    <%= form.radio_button :source, :facebook %>
	  </li>
	    <li>
	    <%= label_tag Spree.t(:buy_on_zalo)%>
	    <%= form.radio_button :source, :zalo %>
	  </li>
	</ul>
<% end %>
<div class="columns alpha nine" data-hook="billing_fieldset_wrapper">
  <fieldset id="billing" data-hook>
    <%= form.fields_for :bill_address do |bill_form| %>

      <%= render :partial => 'spree/address/form', :locals => { :form => bill_form, :address_type => 'billing', :address => @order.bill_address } %>
    <% end %>
  </fieldset>
</div>
