<% is_admin = spree_current_user.has_spree_role?('admin') %>

  <% content_for :page_title do %>
    <div class="quantity-orders">
      <span><%= "#{@orders.total_count}" %></span>
    </div>
  <% end %>

  <% content_for :page_actions do %>
    <li>
      <%= button_link_to Spree.t(:new_order), new_admin_order_url(:order => {:bill_address_attributes => {:firstname => "donghox", :phone => "0908482804"}}), :icon => 'plus', :id => 'admin_new_order' %>
    </li>
  <% end %>

  <% content_for :form_searchs do %>
          <div data-hook="admin_orders_index_search">
            <%= search_form_for [:admin, @search], remote: true, id: "search-orders" do |f| %>
              <div class="simple-search">
                  <div class="field">
                    <%= label_tag nil, Spree.t(:status) %>
                    <%= f.select :state_eq, Spree::Order.state_machines[:state].states.collect {|s| [Spree.t("order_state.#{s.name}"), s.value]}, {:include_blank => true}, :class => 'select2' %>
                  </div>
                  <div class="field">
                    <%= label_tag nil, Spree.t(:per_page) %>
                    <%= select_tag :per_page, options_for_select([20,50,100], params[:per_page].to_i), :class => 'select2' %>
                  </div>
                  <div class="field input-search-simple">
                        <%= f.text_field :number_or_bill_address_firstname_or_bill_address_phone_cont, placeholder: "Tìm kiếm theo đơn hàng, tên hoặc sđt..." %>
                      </div>
                  <div class="actions filter-actions" style="padding-bottom:10px">
                  <div data-hook="admin_orders_index_search_buttons">
                    <%= button_tag "Advance Search", type: 'button', :id => "show-hide", :class => "fa fa-search button" %>
                  </div>
                  </div>
              </div>
              <div class="advanced-search">

                  <div class="column-1 col-md-3">
                    <div class="date-range-filter field">
                      <%= label_tag nil, Spree.t(:date_range) %>
                      <div class="date-range-fields">
                        <%= f.text_field :created_at_gt, :class => 'datepicker datepicker-from', :value => params[:q][:created_at_gt], :placeholder => Spree.t(:start) %>

                        <span class="range-divider">
                          <i class="fa fa-arrow-right"></i>
                        </span>

                        <%= f.text_field :created_at_lt, :class => 'datepicker datepicker-to', :value => params[:q][:created_at_lt], :placeholder => Spree.t(:stop) %>
                      </div>
                    </div>

                    <% if is_admin %>
                    <div class="field">
                      <%= label_tag nil, Spree.t(:city) %>
                      <%= f.select :bill_address_state_id_eq, Spree::State.all.collect {|s| [s.name, s.id]}, {:include_blank => true}, :class => 'select2' %>
                    </div>
                    <% end %>
                  </div>

                  <div class="column-2 col-md-3">
                    <div class="field">
                      <%= label_tag nil, Spree.t(:shipment_state) %>
                      <%= f.select :shipment_state_eq, Spree::Shipment.state_machines[:state].states.collect {|s| [Spree.t("shipment_states.#{s.name}"), s.value]}, {:include_blank => true}, :class => 'select2' %>
                    </div>
                    <div class="field">
                      <%= label_tag nil, Spree.t(:payment_state) %>
                      <%= f.select :payment_state_eq, ["paid", "balance_due"], {:include_blank => true}, :class => 'select2' %>
                    </div>
                  </div>

                  <div class="column-3 col-md-3">

                    <div class="field">
                      <%= label_tag nil, Spree.t(:approver) %>
                      <%= f.select :approver_id_eq, Spree::Role.find(1).users.collect {|s| [s.email, s.id]}, {:include_blank => true}, :class => 'show_anything_orders select2' %>
                    </div>

                    <div class="field checkbox">
                      <label>
                        <%= f.check_box :completed_at_not_null, {:checked => @show_only_completed}, '1', '0' %>
                        <%= Spree.t(:show_only_complete_orders) %>
                      </label>
                    </div> 
                  </div>

                  <div class="column-4 col-md-3">
                    <div class="field">
                      <%= label_tag nil, Spree.t(:email) %>
                      <%= f.text_field :email_cont %>
                    </div>
                    <div class="field checkbox">
                      <label>
                        <%= f.check_box :approver_id_eq, {:checked => @show_only_my_orders,  :id => "approver_id_eq"}, spree_current_user.id %>
                        <%= Spree.t(:show_only_my_orders) %>
                      </label>
                    </div>
                    <!-- xóa cái ni
                      <div class="field">
                        <%= label_tag nil, Spree.t(:order_number, :number => '') %>
                        <%= f.text_field :number_cont %>
                      </div>
                      <div class="field">
                        <%= label_tag nil, Spree.t(:first_name) %>
                        <%= f.text_field :bill_address_firstname_cont, :size => 25 %>
                      </div>
                      <div class="field">
                        <%= label_tag nil, Spree.t(:phone) %>
                        <%= f.text_field :bill_address_phone_cont, :size => 25 %>
                      </div>
                    -->
                  </div>

              </div>
            <% end %>
          </div>
  <% end %>
<style>
      #ui-datepicker-div .ui-datepicker-calendar thead tr th span{
        font-size: 70% !important;
      }
      #content{
        margin-top:0;
      }
      .layout_full >.container-fluid >.row{
        margin-bottom: 0;
      }
      #content-header .block-table {
        display: flex;
        position: relative;
        transition: 0.4s;
        height: 51px;
        padding-bottom: 0;
      }
      #content-header .block-table.active {
        height: 208px;
      }
      #content-header .block-table .form_searchs{
        flex-grow: 1;
      }
      #content-header .block-table .page-actions{
        line-height: unset;
      }
      #s2id_q_state_eq{
        display:block;
        min-width: 170px;
      }
      #s2id_per_page{
        display: block;
        min-width: 80px;
      }
      #select2-chosen-4, #select2-chosen-3, #select2-chosen-2, #select2-chosen-5, #select2-chosen-6, #select2-chosen-1{
        font-size: 13.5px;
        padding: 0;
        padding-left: 10px;
        line-height: 31px;
        text-transform: capitalize;
      }
</style>
<script>
  $(document).ready(function () {
    $("#show-hide").click(function () {
      $(".form_searchs .advanced-search").toggleClass("active");
      $("#content-header .block-table").toggleClass("active");
    });
    $('#q_bill_address_state_id_eq option:first-child').text("Chọn tỉnh / thành phố");
    $('#q_shipment_state_eq option:first-child').text("Chọn trạng thái vận chuyển");
    $('#q_payment_state_eq option:first-child').text("Chọn trạng thái thanh toán");
    $('#q_approver_id_eq option:first-child').text("Chọn người xác nhận");
    if(!$("#q_shipment_state_eq").val().length){
      $('#q_shipment_state_eq').val('').trigger('change');
    }
    if(!$("#q_bill_address_state_id_eq").val().length){
      $('#q_bill_address_state_id_eq').val('').trigger('change');
    }
    if(!$("#q_payment_state_eq").val().length){
      $('#q_payment_state_eq').val('').trigger('change');
    }
    if(!$("#q_approver_id_eq").val().length){
      $('#q_approver_id_eq').val('').trigger('change');
    }


    $(function () {
      var btn = $("#show-hide");
      var toggled = false;
      btn.on("click", function () {
        if (!toggled) {
          toggled = true;
          btn.text("Simple   Search");
        } else {
          toggled = false;
          btn.text("Advance Search");
        }
      });
    });
  });

  
</script>
<div id="listing_orders" >
<%= paginate @orders %>
<% if @orders.any? %>
<table class="index responsive"  data-hook>
 <colgroup>
   <col style="width: 8%;">
   <col style="width: 8%;">
   <col style="width: 8%;">
   <col style="width: 8%;">
   <% if Spree::Order.checkout_step_names.include?(:delivery) %>
   <col style="width: 10%;">
   <% end %>
   <col style="width: 8%;">
   <col style="width: 12%;">
   <col style="width: 9%;">
   <col style="width: 8%;">
   <col style="width: 13%;">
 </colgroup>
 <thead>
   <tr data-hook="admin_orders_index_headers">
     <% if @show_only_completed %>
     <% if @show_only_paid %>
     <th><%= sort_link @search, :updated_at,   I18n.t(:paid_at, :scope => 'activerecord.attributes.spree/order') %>
     </th>
     <% else %>
     <th>
       <%= sort_link @search, :completed_at,   I18n.t(:completed_at, :scope => 'activerecord.attributes.spree/order') %>
     </th>
     <% end %>
     <% else %>
     <th>
       <%= sort_link @search, :created_at,     I18n.t(:created_at, :scope => 'activerecord.attributes.spree/order') %>
     </th>
     <% end %>
     <th><%= sort_link @search, :number,           I18n.t(:number, :scope => 'activerecord.attributes.spree/order') %>
     </th>
     <th><%= sort_link @search, :state,            I18n.t(:state, :scope => 'activerecord.attributes.spree/order') %>
     </th>
     <th>
       <%= sort_link @search, :payment_state,    I18n.t(:payment_state, :scope => 'activerecord.attributes.spree/order') %>
     </th>

     <th>
       <%= sort_link @search, :shipment_state, I18n.t(:shipment_state, :scope => 'activerecord.attributes.spree/order') %>
     </th>

     <th><%= sort_link @search, :email,            I18n.t(:full_name, :scope =>'spree') %></th>
     <th><%= sort_link @search, :phone,            I18n.t(:phone, :scope =>'spree') %></th>
     <th><%= sort_link @search, :total,            I18n.t(:total, :scope => 'activerecord.attributes.spree/order') %>
     </th>
     <th><%= Spree.t(:note) %></th>
     <th><%= Spree.t(:website) %></th>
     <% if is_admin %>
     <th><%= Spree.t(:device) %></th>
     <th><%= Spree.t(:source) %></th>
     <% end %>
     <th><%= Spree.t(:processing) %></th>
     <th data-hook="admin_orders_index_header_actions" class="actions"></th>
   </tr>
 </thead>
 <tbody>
   <% @orders.each do |order| %>
   <tr data-hook="admin_orders_index_rows"
     class="state-<%= order.state.downcase %> <%= cycle('odd', 'even') %> <%= "fake-order" if order.is_risky? %>">
     <td class="align-center">
       <%= l (@show_only_completed ? (@show_only_paid ? order.updated_at : order.completed_at) : order.created_at).to_date %>
     </td>
     <td class="align-center"><%= link_to order.number, edit_admin_order_path(order), :target => "_blank" %></td>
     <td class="align-center"><span
         class="state <%= order.state.downcase %>"><%= Spree.t("order_state.#{order.state.downcase}") %></span></td>
     <td class="align-center"><span
         class="state <%= order.payment_state %>"><%= link_to Spree.t("payment_states.#{order.payment_state}"), admin_order_payments_path(order) if order.payment_state %></span>
     </td>

     <td class="align-center"><span class="state <%= order.shipment_state_new %>">
         <%= Spree.t("shipment_states.#{order.shipment_state_new}") %>

       </span></td>

      <td><%= order.billing_address.firstname if order.billing_address.present? %></td>
      <% if order.billing_address.present? %>
      <td>
        <%= order.approver_id.present? ? order.billing_address.formatted_phone : order.billing_address.formatted_phone[0..6] + "xxx" %>
      </td>
      <% end %>
      <td class="align-center"><%= order.approver_id.present? ? order.display_total.to_html : "xxx" %></td>
      <td id="order-<%= order.id %>">
        <% order.notes.each do |note| %>
        <div><%= "(#{note.created_at.strftime('%d/%m %H:%M')})  -  #{note.content}" %></div>
        <% end %>
      </td>
      <td>
        <%= order.store_name %>
      </td>
      <% if is_admin %>
      <td>
        <%= order.device.present? ? order.device : "" %>
      </td>
      <td>
        <%= order.source %>
      </td>
      <% end %>
      <td class="align-center"><%= order.approver.present? ? order.approver.nickname : "" %></td>
      <td class='actions align-center' data-hook="admin_orders_index_row_actions">
        <%= link_to "", "##{order.number}-notes", :title => Spree.t(:note), :no_text => true, :class => "fa fa-comment icon_link with-tip no-text notes" %>
        <div style="display:none">
          <div id="<%= order.number%>-notes" style="width: 600px; height: 300px;">
            <%= form_for Spree::Note.new(), :url=>admin_notes_path(), :remote => true, :class => "new-note-form" do |f| %>
            <%= f.select :note_template_id, NoteTemplates.all.collect {|n| [n.name, n.id]}, {}, :id => "", :class => "note_select form-control"%>
            <%= f.text_field :content, :class => "form-control" %>
            <%= f.hidden_field :notable_id, :value => order.id %>
            <%= f.hidden_field :notable_type, :value => "Spree::Order" %>
            <%= f.submit Spree.t(:note), :class => "button create-note", :style => "margin-top: 5px; float:right;" %>
            <br />
            <div class="note-list">
              <% order.notes.each do |note| %>
              <div><%= "(#{note.created_at.strftime('%d/%m %H:%M')})  -  #{note.content}" %></div>
              <% end %>
              <% end %>
            </div>
          </div>
        </div>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
<% else %>
<div class="alpha twelve columns no-objects-found">
 <%= Spree.t(:no_resource_found, resource: I18n.t(:other, scope: 'activerecord.models.spree/order')) %>,
 <%= link_to Spree.t(:add_one), new_admin_order_url(:order => {:bill_address_attributes => {:firstname => "donghox", :phone => "0908482804"}}), :icon => 'plus', :id => 'admin_new_order'%>
</div>
<% end %>
<%= paginate @orders %>
</div>



<script type="text/javascript">
 $(document).ready(function () {
   var q = $('#approver_id_eq_example');
   q.change(function () {
     if (q.is(':checked')) {
       $(this).attr('name', 'q[approver_id_eq]');
     } else {
       $(this).attr('name', 'q[approver_id_eq_example]');
     }
   });
 });
var _changeInterval;
 $(document).ready(function () {
   $('.note_select').change(function () {
     var note = $(this).val();
     if (note === "Ghi chú khác") {
       $(this).attr('name', 'note[contents]')
       $(this).next('#note_content').prop('disabled', false).show();
     } else {
       $(this).attr('name', 'note[content]')
       $(this).next('#note_content').prop('disabled', true).hide();
     }
   });
   $('#q_state_eq').on('change', function () {
     
     $('#search-orders').submit();
   })
   $('#per_page').on('change', function () {
     $('#search-orders').submit();
   })
    $('#q_bill_address_state_id_eq').on('change', function () {
     $('#search-orders').submit();
   })
   $('#q_payment_state_eq').on('change', function () {
     $('#search-orders').submit();
   })
   $('#q_shipment_state_eq').on('change', function () {
     $('#search-orders').submit();
   })
     $('#q_approver_id_eq').on('click', function () {
     $('#search-orders').submit();
   })
   $('#approver_id_eq').on('click', function () {
     $('#search-orders').submit();
   })
   $('#q_completed_at_not_null').on('click', function () {
     $('#search-orders').submit();
   })
   $('.date-range-filter .datepicker-from').datepicker('option', 'onSelect', function(selectedDate) {
   $('#search-orders').submit();
 });
 $('.date-range-filter .datepicker-to').datepicker('option', 'onSelect', function(selectedDate) {
   $('#search-orders').submit();
 });
   $('#q_number_or_bill_address_firstname_or_bill_address_phone_cont').on('keyup', function () {
            clearInterval(_changeInterval)
            _changeInterval = setInterval(function () {
                // Typing finished, now you can Do whatever after 2 sec
                $('#search-orders').submit();
                clearInterval(_changeInterval)
            }, 600);

        })
    $('#q_email_cont').on('keyup', function () {
            clearInterval(_changeInterval)
            _changeInterval = setInterval(function () {
                // Typing finished, now you can Do whatever after 2 sec
                $('#search-orders').submit();
                clearInterval(_changeInterval)
            }, 600);

        })

   /* $('#q_bill_address_firstname_cont').on('keyup', function () {
            clearInterval(_changeInterval)
            _changeInterval = setInterval(function () {
                // Typing finished, now you can Do whatever after 2 sec
                $('#search-orders').submit();
                clearInterval(_changeInterval)
            }, 600);

        })
    $('#q_bill_address_phone_cont').on('keyup', function () {
            clearInterval(_changeInterval)
            _changeInterval = setInterval(function () {
                // Typing finished, now you can Do whatever after 2 sec
                $('#search-orders').submit();
                clearInterval(_changeInterval)
            }, 600);

        }) */
    

 });
</script>

