<footer>
    <div class="footer-container">
        <!--Footer Top Area Start-->
        <div class="footer-top-area footer-bg pt-80 pb-40">
            <div class="container">
                <div class="row">
                    <div class="col-xl-5 col-lg-6 col-md-6 col-12">
                        <!--Single Footer Wiedget Start-->
                        <div class="single-footer-wiedget mb-30">
                            <div class="footer-logo">
                                <a href="index.html"><img src="img/logo/logo.png" alt=""></a>
                            </div>
                            <div class="social-link">
                                <ul>
                                    <%# <% if current_store.fb_url.present? %>
                                    <%# <li><a href="<%= current_store.fb_url %>"><i class="fa fa-facebook"></i></a></li>
                                    <%# <% end %>
                                    <%# <% if current_store.google_plus_url.present? %>
                                    <%# <li><a href="<%= current_store.google_plus_url %>"><i class="fa fa-google-plus"></i></a></li>
                                    <%# <% end %>
                                    <%# <% if current_store.instagram_url.present? %>
                                    <%# <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                                    <% end %>
                                     <%# <li><a href="#"><i class="fa fa-youtube"></i></a></li> 
                                     <li><a href="#"><i class="fa fa-twitter"></i></a></li>  %> 
                                </ul>
                            </div>
                            <div class="desc-footer">
                                <p><%= current_store.meta_description %></p>
                            </div>
                            <div class="address-footer">
                                <p class="phone d-block">
                                    <% if current_store.phone.nil? || current_store.phone.empty? %>
                                    Update later
                                    <% else %> 
                                    <%= current_store.try(:phone) %>
                                    <% end %>
                                </p>
                                <p class="mail d-block"><%= current_store.try(:mail_from_address) %></p>
                            </div>
                        </div>
                        <!--Single Footer Wiedget End-->
                    </div>
                    <div class="col-xl-2 col-lg-6 col-md-6 col-12">
                        <!--Single Footer Wiedget Start-->
                        <div class="single-footer-wiedget mb-30">
                            <div class="footer-title">
                                <h3>Information</h3>
                            </div>
                            <ul class="link-widget">

                            </ul>
                        </div>
                        <!--Single Footer Wiedget End-->
                    </div>

                    <div class="col-xl-5 col-lg-6 col-md-6 col-12">
                        <!--Single Footer Wiedget Start-->
                        <div class="single-footer-wiedget mb-30">
                            <div class="footer-title">
                                <h3>Send Newsletter</h3>
                                <p>Sign up for our newsletter &amp; promotions</p>
                            </div>
                            <!--Newsletter Area Start-->
                            <div class="newsletter-area">
                                <div class="newsletter-form">
                                    <!-- Newsletter Form -->
                                    <form action="http://devitems.us11.list-manage.com/subscribe/post?u=6bbb9b6f5827bd842d9640c82&amp;id=05d85f18ef" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="popup-subscribe-form validate" target="_blank" novalidate>
                                        <div id="mc_embed_signup_scroll">
                                            <div id="mc-form" class="mc-form subscribe-form" >
                                            <input id="mc-email" type="email" autocomplete="off" placeholder="Enter your email here" />
                                            <button id="mc-submit">Subscribe !</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <!--Newsletter Area End-->
                            <div class="payment">
                                <h3>payments</h3>
                                <%= image_tag("indecor/payment/payment.png")%>
                            </div>
                        </div>
                        <!--Single Footer Wiedget End-->
                    </div>
                </div>
            </div>
        </div>
        <!--Footer Top Area End-->
        <!--Footer Bottom Area Start-->
        <div class="footer-bottom-area pt-30 pb-20">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-12 text-center">
                        <!--Footer Copyright Start-->
                        <div class="footer-copyright">
                            <p>Copyright &copy; <a href="#">Indecor.</a> All Rights Reserved</p>
                        </div>
                        <!--Footer Copyright End-->
                    </div>
                    <!-- <div class="col-lg-6 col-md-12 col-12">
                        <div class="custom-link-footer">
                            <ul>
                                <li><a href="#">About Us</a></li>
                                <li><a href="#">Customer Services</a></li>
                                <li><a href="#">Term & Conditions</a></li>
                            </ul>
                        </div>
                    </div> -->
                </div>
            </div>
        </div>
        <!--Footer Bottom Area End-->
    </div>
</footer>