<div class="related-products-area pb-35">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <!--Section Title 2 Start-->
                <div class="section-title2">
                    <h2>Related Products</h2>
                </div>
                <!--Section Title 2 End-->
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="row">
                    <div class="product-slider owl-carousel">
                        <% if @related_products.present? %>
                        <% @related_products.each do |product| %>
                        <% url = product_path(product) %>
                        <div class="col-md-12">
                            <!--Single Product Area Start-->
                            <div class="single-product-area mb-40">
                                <div class="product-img img-full">
                                    <%= link_to product_path(product) do %>
                                        <%= link_to product_image(product, :itemprop => "image", onerror: "this.onerror=null;this.src='#{root_url.to_s}assets/no_image.png'"), url, :itemprop => 'url', :class => 'first-img' %>
                                    <% end %>
                                    <span class="sticker">New</span>
                                    <span class="descount-sticker">-10%</span>
                                    <div class="product-action">
                                        <ul>
                                             <li><%= link_to '<span class="icon_search"></span>'.html_safe, product_path(product) %></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="product-content">
                                    <h4><%= link_to truncate(product.name, :length => 50), url, :class => 'info', :itemprop => "name", :title => product.name %></h4>
                                    <div class="product-price">
                                        <span class="regular-price"><%= product.display_price %></span>
                                        <% if product.before_sale_price.present? %>
                                        <span class="now-price">
                                            <%= display_before_sale_price(product) %>
                                        </span>
                                        <% end %> 
                                    </div>
                                </div>
                            </div>
                            <!--Single Product Area End-->
                             
                        </div>
                       <% end %>
                        <% end %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
