<%= form_for :order, :url => populate_orders_path, :html => {:class => "add-quantity", :id => "quick-cart"} do |f| %>
    <div class="flex-w flex-r-m p-b-10">
        <div class="size-203 flex-c-m respon6">
            Color
        </div>

        <div class="size-204 respon6-next">
            <div class="rs1-select2 bor8 bg0">
                
                <%= select_tag "variant_id", options_for_select( @product.variants_and_option_values.collect{|v| [variant_options(v), v.id ] }, @product.variants.second.id ), class: "js-select2" %>
                <div class="dropDownSelect2"></div>
            </div>
        </div>
    </div>
    <div class="flex-w flex-r-m p-b-10">
      <div class="size-204 flex-w flex-m respon6-next">
          <div class="wrap-num-product flex-w m-r-20 m-tb-10">
              <div class="btn-num-product-down cl8 hov-btn3 trans-04 flex-c-m">
                  <i class="fs-16 zmdi zmdi-minus"></i>
              </div>
              
              <%= number_field_tag :quantity, 1, class: "mtext-104 cl3 txt-center num-product" %>

              <div class="btn-num-product-up cl8 hov-btn3 trans-04 flex-c-m">
                  <i class="fs-16 zmdi zmdi-plus"></i>
              </div>
          </div>
          <%= button_tag :class => 'flex-c-m stext-101 cl0 size-101 bg1 bor1 hov-btn1 p-lr-15 trans-04 js-addcart-detail', :id => 'add-to-cart-button', :type => :submit, :data => {:toggle => "modal", :target => "#checkoutPopup"} do %>
              <%= Spree.t(:add_to_cart) %>
          <% end %>
      </div>
      <% end %>
    </div>
  
            
            