  <%= form_for [:admin, @store_template] do |f| %>
    <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
    </p>

    <p>
    <%= f.label :thumb %><br>
    <%= f.file_field :thumb %>
    </p>
    <p>
    <%= f.submit %>
    </p>
  <% end %>