<!doctype html>
<!--[if lt IE 7 ]> <html class="ie ie6" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie ie7" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie ie8" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie ie9" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if gt IE 9]><!--><html lang="<%= I18n.locale %>"><!--<![endif]-->
    <head>
        <%= render :partial => 'spree/shared/head' %>
    </head>
    <body class="animsition">
            <%= render :partial => 'spree/shared/header' %>
            <%= yield %>
            <%= yield :cart_slider %>
            <%= yield :banner %>
            <%= yield :product %>
            <%= yield :footer %>
                
            <%= javascript_include_tag 'spree/frontend/cozastore/all' %>
            <%= render :partial => 'spree/shared/js' %>
    </body>
</html>
