<div id="blog_entry_sidebar">
  <%= render 'spree/blog_entries/recent_blog_entries', recent_blog_entries: Spree::BlogEntry.recent(10)%>
  <%= render 'spree/blog_entries/most_view_blog_entries', most_view_blog_entries: current_store.blog_entries.most_view(5) %>
  <% if controller.action_name.to_s == 'index' %>
  <%= render 'spree/blog_entries/top_score_products', top_score_products: current_store.products.top_score(5) %>
  <% end %>
  <%= render 'spree/blog_entries/categories_list' %>
  <%= render 'spree/blog_entries/tag_cloud' %>


  <%#= render 'spree/blog_entries/news_archive', news_archive: Spree::BlogEntry.organize_blog_entries %>
    <% if @related_products.present? %>
    <h4><%= Spree.t('you_may_be_interested') %></h4>
    <ul id="products" class="inline product-listing blog-entry-products" data-hook>
      <% @related_products.each do |product| %>
        <% url = product_path(product) %>
        <li id="product_<%= product.id %>" class="product columns four col-md-12 <%= cycle("alpha", "secondary", "", "omega secondary", :name => "classes") %>" data-hook="products_list_item" >

          <div class="product-image">
            <%= link_to thumbnail_image(product, :itemprop => "image", onerror: "this.onerror=null;this.src='#{root_url.to_s}assets/no_image.png'"), url, :itemprop => 'url' %>
          </div>
          <div class="product-info">
            <%= link_to truncate(product.name, :length => 50), url, :class => 'info', :itemprop => "name", :title => product.name %>
            <span itemprop="offers" >
                <span class="price selling" itemprop="price"><%= display_price(product) %>
              </span>
          </div>
          <a href="<%= url %>" class="product-button"><i class="fa fa-shopping-cart"></i> Xem chi tiết</a>
        </li>
      <% end %>
      <% reset_cycle("classes") %>
    </ul>
  <% end %>
</div>
